<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>MarriageApp</display-name>
  <servlet>
     <servlet-name>marriage</servlet-name>
     <servlet-class>com.nt.servlet.MarriageServlet</servlet-class>
     <init-param>
        <param-name>p1</param-name>
        <param-value>val1</param-value>
     </init-param>
     <init-param>
        <param-name>p2</param-name>
        <param-value>val2</param-value>
     </init-param>
     
     
  </servlet>
  <servlet-mapping>
      <servlet-name>marriage</servlet-name>
      <url-pattern>/marriageurl1</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>form.html</welcome-file>
  </welcome-file-list>
  
</web-app>