<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JspApp13-ForwardingRequestUseCase</display-name>
  
  <servlet>
    <servlet-name>calc_bill</servlet-name>
    <jsp-file>/WEB-INF/pages/calc_bill.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
       <servlet-name>calc_bill</servlet-name>
       <url-pattern>/calcurl</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>discount</servlet-name>
    <jsp-file>/WEB-INF/pages/discount.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
       <servlet-name>discount</servlet-name>
       <url-pattern>/discounturl</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>input.html</welcome-file>
  </welcome-file-list>
</web-app>