<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CookiesUsingSessionTracking</display-name>
  
 <servlet>
   <servlet-name>FF1</servlet-name>
   <servlet-class>com.nt.servlet.FirstServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>FF1</servlet-name>
  <url-pattern>/furl</url-pattern>
</servlet-mapping>

<servlet>
   <servlet-name>SF2</servlet-name>
   <servlet-class>com.nt.servlet.SecondServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>SF2</servlet-name>
  <url-pattern>/surl</url-pattern>
</servlet-mapping>
<welcome-file-list>
    <welcome-file>tax.html</welcome-file>
 </welcome-file-list>
</web-app>