<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>s1</servlet-name>
<servlet-class>com.nt.servlet.SetCookieServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>s1</servlet-name>
  <url-pattern>/test1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>s2</servlet-name>
<servlet-class>com.nt.servlet.ShowCookiesServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>s2</servlet-name>
  <url-pattern>/test2</url-pattern>
</servlet-mapping>
</web-app>