<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
 <servlet-name>abc</servlet-name>
 <servlet-class>com.nt.servlet.Servlet1</servlet-class>
</servlet>
<servlet-mapping>
 <servlet-name>abc</servlet-name>
 <url-pattern>/s1url</url-pattern>
</servlet-mapping>

<servlet>
 <servlet-name>XYZ</servlet-name>
 <servlet-class>com.nt.servlet.Servlet2</servlet-class>
</servlet>
<servlet-mapping>
 <servlet-name>XYZ</servlet-name>
 <url-pattern>/s2url</url-pattern>
</servlet-mapping>

<welcome-file-list>
<welcome-file>details.html</welcome-file>
</welcome-file-list>

</web-app>